*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  margin-top: 3vh;
  margin-left: 1.5vw;
}
.main{
  background: linear-gradient(#EAF3FA, #FFFFFF);
}
.left{
  height: 90%;
  width: 90%;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8vh;
  margin-right: 5vw;
  margin-left: 15vw;
}
.right{
  margin-right: 15vw;
}
.right .uppertext{
  width: 430px;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  color: #0A0B0D;
}
.right .lowertext{
  width: 290px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 5vh;
}